<nav class="navbar navbar-expand navbar-dark bg-dark " aria-label="Second navbar example">
  <div class="container-fluid">


    <a class="navbar-brand" href="#">
      <img src="assets/img/ZS-Logo-RGB.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Realtime Budget Planer
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExample02">
      <ul class="navbar-nav ml-auto fw-light">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page">Latest Refresh Date: 11 May 2021</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">User Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">HI, Cameron</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Sign Out</a>
        </li>

      </ul>

    </div>
  </div>
</nav>