
<button type="button" class="btn-close pull-right" (click)="close()" aria-label="Close"></button>
<h2 mat-dialog-title>Edit BrandCam</h2>


<mat-dialog-content>
	<form [formGroup]="brandEditForm" (ngSubmit)="update()" novalidate>
	 
		<div class="mb-3">
		  <label for="name" class="form-label">Brand Name</label>
		  <input type="text" class="form-control" id="name" formControlName="name" required>
		</div>
		<div class="mb-3">
		  <label for="description" class="form-label">Brand Description</label>
		  <textarea class="form-control" id="description" rows="3" formControlName="description" required></textarea>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-stroked-button mat-dialog-close class="rounded-0">Delete Brand</button>
  <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial class="rounded-0" (click)="close()">cancel</button>
<button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial class="rounded-0" (click)="update()">Save</button>
</mat-dialog-actions>