<!--<app-header></app-header>
<!--<div class="m-1">
<mat-tab-group>
  <mat-tab label="Brand Manager">  </mat-tab>
  <mat-tab label="Portfolio Manager">  </mat-tab>
 
</mat-tab-group>
</div>->

<router-outlet></router-outlet>-->
<div class="container-scroller">
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top  d-flex justify-content-start flex-row bg-white">
    <div 
        class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center bg-dark"
         style="width: 5rem;">
        <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/img/ZS-Logo-RGB.png" alt="logo" />ZS</a>
        <!--  <i class="uiw-font-zs-logo"></i>-->
    </div>
    <div class="header-app-name">
        REAL TIME BUDGET PLANNER
    </div>
    <!--<div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
     </div>-->
  </nav>
   <div class="container-fluid page-body-wrapper">
       <div class="d-flex flex-column flex-shrink-0 bg-dark" style="width: 5rem;">
            
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
              <li class="nav-item">
 
                <a href="#" class="nav-link rounded-0" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home" >
 
                    
                </a>
              </li>
              <li class="nav-item">
 
                <a href="#" class="nav-link active rounded-0" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home" routerLink="/brand/list">
 
                   <i class="uiw-font-brandManagerIcon"></i>
                   <div class="nav-link-name">Brand Manager</div>
                    
                </a>
              </li>
              <li>
 
                <a href="#" class="nav-link rounded-0" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard" routerLink="/portfolio/manager">
 
                 <i class="uiw-font-portfolio"></i>
                 <div class="nav-link-name">Portfolio Manager</div>
                </a>
              </li>
            
            </ul>
            <div>
              <a href="#" class="d-flex align-items-center justify-content-center p-2 link-light text-decoration-none" id="dropdownUser3" aria-expanded="false">
                <i class="uiw-font-sidenav1"></i>
              </a>
               <a href="#" class="d-flex align-items-center justify-content-center p-2 link-light text-decoration-none" id="dropdownUser3" aria-expanded="false">
                <i class="uiw-font-sidenav2"></i>
              </a>
              <a href="#" class="d-flex align-items-center justify-content-center p-2 link-light text-decoration-none" id="dropdownUser3" aria-expanded="false">
                <i class="uiw-font-sidenav3"></i>
              </a>
              <!--<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>-->
                 
                 
               
              
            </div>
          </div>
      <div class="main-panel main-panel-only">
        <div class="content-wrapper">
            
            <div contentAnimate class="h-100 bg-white">
               
                   
                  <router-outlet></router-outlet>
               
            </div>
          </div>
          <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center  footer-text"><span class="text-muted footer-copy-text">Copyright © 2020</span> Zs Associates Inc. Pricavy Policy Terms of Use</span>
          </div>
        </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
    <!-- page-body-wrapper ends -->
 
  </div>
 
