<!--<app-header></app-header>
<!--<div class="m-1">
<mat-tab-group>
  <mat-tab label="Brand Manager">  </mat-tab>
  <mat-tab label="Portfolio Manager">  </mat-tab>
 
</mat-tab-group>
</div>->

<router-outlet></router-outlet>-->
<div class="container-scroller">
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row bg-white">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center bg-dark">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/img/ZS-Logo-RGB.png" alt="logo" />ZS</a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
   </div>
</nav>
 <div class="container-fluid page-body-wrapper">
 		<div class="d-flex flex-column flex-shrink-0 bg-dark" style="width: 4.5rem;">
			    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
			      <svg class="bi" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			      <span class="visually-hidden">Icon-only</span>
			    </a>
			    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
			      <li class="nav-item">
			        <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
			          <svg class="bi" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"></use></svg>
			        </a>
			      </li>
			      <li>
			        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
			          <svg class="bi" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
			        </a>
			      </li>
			      <li>
			        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
			          <svg class="bi" width="24" height="24"><use xlink:href="#table"></use></svg>
			        </a>
			      </li>
			      <li>
			        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
			          <svg class="bi" width="24" height="24"><use xlink:href="#grid"></use></svg>
			        </a>
			      </li>
			      <li>
			        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
			          <svg class="bi" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
			        </a>
			      </li>
			    </ul>
			    <div class="dropdown border-top">
			      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
			        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
			      </a>
			      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
			        <li><a class="dropdown-item" href="#">New project...</a></li>
			        <li><a class="dropdown-item" href="#">Settings</a></li>
			        <li><a class="dropdown-item" href="#">Profile</a></li>
			        <li><hr class="dropdown-divider"></li>
			        <li><a class="dropdown-item" href="#">Sign out</a></li>
			      </ul>
			    </div>
			  </div>
		<div class="main-panel main-panel-only">
 		 <div class="content-wrapper">
	        
	        <div contentAnimate class="h-100 bg-white">
	           
	          	   
	          		<router-outlet></router-outlet>
	           
	        </div>
	      </div>
	      <footer class="footer">
			  <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
			    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
			    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://www.bootstrapdash.com/angular-admin-templates/" target="_blank">  angular admin template </a> from <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a></span>
			  </div>
			</footer>
	      <!-- partial -->
	    </div>
	    <!-- main-panel ends -->
	  </div>
  <!-- page-body-wrapper ends -->
</div>