@font-face {font-family: "uiw-font";
  src: url('uiw-font.eot?t=1622792903381'); /* IE9*/
  src: url('uiw-font.eot?t=1622792903381#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("uiw-font.woff2?t=1622792903381") format("woff2"),
  url("uiw-font.woff?t=1622792903381") format("woff"),
  url('uiw-font.ttf?t=1622792903381') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('uiw-font.svg?t=1622792903381#uiw-font') format('svg'); /* iOS 4.1- */
}

[class^="uiw-font-"], [class*=" uiw-font-"] {
  font-family: 'uiw-font' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uiw-font-bg-3dots:before { content: "\ea01"; }
.uiw-font-bg-popupopen:before { content: "\ea02"; }
.uiw-font-brandManagerIcon:before { content: "\ea03"; }
.uiw-font-plus-circle:before { content: "\ea04"; }
.uiw-font-plus:before { content: "\ea05"; }
.uiw-font-portfolio:before { content: "\ea06"; }
.uiw-font-search:before { content: "\ea07"; }
.uiw-font-sidenav1:before { content: "\ea08"; }
.uiw-font-sidenav2:before { content: "\ea09"; }
.uiw-font-sidenav3:before { content: "\ea0a"; }
.uiw-font-zs-icon-info:before { content: "\ea0b"; }
.uiw-font-zs-logo:before { content: "\ea0c"; }

$uiw-font-bg-3dots: "\ea01";
$uiw-font-bg-popupopen: "\ea02";
$uiw-font-brandManagerIcon: "\ea03";
$uiw-font-plus-circle: "\ea04";
$uiw-font-plus: "\ea05";
$uiw-font-portfolio: "\ea06";
$uiw-font-search: "\ea07";
$uiw-font-sidenav1: "\ea08";
$uiw-font-sidenav2: "\ea09";
$uiw-font-sidenav3: "\ea0a";
$uiw-font-zs-icon-info: "\ea0b";
$uiw-font-zs-logo: "\ea0c";

