<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom m-2">
   <div><h1 class="brand-pageHeading  me-2">Brand Manager</h1>
   <span class="header-support-text">Last Refresh Date:11 May 2021</span></div>
   <div>
       <button type="button" class="btn btn-rbp rounded-0 me-2 " (click)="openNewBrandDialog()" > <i class="uiw-font-plus"></i> New Brand</button>
       <!--<button type="button" class="btn btn-rbp rounded-0 " >Restore Brand</button>-->
       <button *ngIf="showAdminUI" type="button" class="btn btn-rbp rounded-0 me-2 " (click)="restoreBrand()" > <i class="uiw-font-plus"></i> Restore Brand</button>
   </div>
    <div class="btn-toolbar mb-2 mb-md-0 ms-auto">
     <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-4">
         <i class="uiw-font-search brand-search-icon"></i>
         <input type="search" [formControl]="searchText" class="form-control form-control-dark rounded-0 ps-4" placeholder="   Brand or Planning Cycle" aria-label="Search" style="width:250px;">
          
       </form>
    </div>

</div>

<div class="card m-3 border-end-0 border-start-0 rounded-0" *ngFor="let brand of brandList | searchFilter: searchText.value; let i =index;" >
<!--<div class="row">
<div class="col-md-1">
 <div class="mh-100 bg-primary "></div>
</div>-->
<!--<div class="col-md-11">-->
     <div class="card-body">
         <div class="row">
             <div class="col">
              <h5 class="brand-title">{{ brand?.name }}
                  <span class="me-2">
 
                      <i class="uiw-font-zs-icon-info" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                      triggers="mouseenter:mouseleave" placement="right"></i>   
                            <ng-template #popContent>
                                Created by :{{ brand?.CreatedBy }} @ {{  brand?.CreatedDate }}
                                Last Updated by :{{ brand?.CreatedBy }} @ {{  brand?.CreatedDate }}
                            </ng-template>
                            <ng-template #popTitle>Brand Information</ng-template>
 
                  </span>
                 
                  <span class="dropdown ">   
                        <span [matMenuTriggerFor]="menu"><i class="uiw-font-zs-icon-info"></i></span>
                           <mat-menu #menu="matMenu">
                             <button mat-menu-item (click)="editBrandDialog(brand)">Edit Brand</button>
                             <button mat-menu-item (click)="manageBrandDialog(brand)">Manage Brand Accees</button>
                             <button mat-menu-item (click)="deleteBrandDialog(brand)">Delete Brand</button>
                           </mat-menu>
                  </span>
                 </h5>
             </div>
             <div class="col brand-description">{{ brand?.description }}</div>
             <div class="col">
                <div *ngIf="!brand?.planCycle">So empty! Start by adding a planning cycle</div>
                <div *ngFor="let pc of brand?.planCycle" class="text-rbp border-bottom brand-pc">{{ pc?.name }}</div>
             </div>
 
             <div class="col text-end">
                   <a href="#" class="text-rbp brand-add-pc-link text-decoration-none ms-auto" (click)="openNewPlanningCycleDialog(brand)"> <i class="uiw-font-plus-circle me-1"></i> Add Planning Cycle</a>
 
             </div>
         </div>
 <!-- </div>-->
    </div>

</div>


<!--<ul class="list-group list-group-flush">
 <li class="list-group-item  d-flex justify-content-between flex-wrap flex-md-nowrap">
        <div>Brand Item</div>
        <div>Desc about your brand</div>
        <div>
           <div>Planning Cycle 2020</div>
           <div>Planning Cycle 2020</div>
           <div>Planning Cycle 2020</div>
        </div>
        <div>Add Planning Cycle</div>
 </li>
<li class="list-group-item  d-flex justify-content-between flex-wrap flex-md-nowrap">
        <div>Pine Brand</div>
        <div>Desc about your brand</div>
        <div>
           <div>Planning Cycle </div>
          
        </div>
        <div>Add Planning Cycle</div>
 </li>
</ul>-->
