 <!--<div class="h-100 my-3 p-3 bg-body rounded shadow-sm">
	 	<hr>
	<div class="h-100 d-flex justify-content-center align-items-center text-center">
	  <div>
	      <p class="fs-5 fw-bold mb-0">Welcome, Cameron</p>
	      <p class="fs-5 fw-bold">No Brands have been created.</p>
	      <p class="text-muted ">Get Started by adding a New Brand.</p>
	      
	      <button type="button" class="btn btn-success rounded-0"  (click)="openNewBrandDialog()" >New Brand</button>
	  </div>
	</div>
 </div>-->
 
 	<div class="h-100 d-flex justify-content-center align-items-center text-center">
	  <div>
	  	  <img src="assets/img/Vector.png" alt=""/>
	      <p class="fs-5 fw-bold mb-0">Welcome, Cameron</p>
	      <p class="fs-5 fw-bold">No Brands have been created.</p>
	      <p class="text-muted ">Get Started by adding a New Brand.</p>
	      
	      <button type="button" class="btn btn-rbp rounded-0"  (click)="openNewBrandDialog()" >+ New Brand</button>
	  </div>
	</div>
  
