/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Open Sans,Roboto, "Helvetica Neue", sans-serif; }
 
/* common css */
.btn-rbp {
    color: #fff;
    background-color: #27A6A4;
    border-color: #27A6A4;
}
.text-rbp {
	color: #27A6A4;
}
.brand-pageHeading{
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 0.15px;
}
/* tabs */
.mat-tab-label-active {
	color: #27A6A4 !important;
	 
}
.mat-tab-label, .mat-tab-link{
	font-size:14px;
	font-weight: bold;
	line-height: 21px;
	font-style: normal;
	letter-spacing: -0.2px;
	opacity:1 !important;
	color : #716E79;
}
/*brand page */

.brand-lb{
	border-left:40px solid #D6EBFF;
}
.brand-title{
	font-weight: 700;
	font-size:20px;
	line-height: 28px;
}
.brand-description{
	font-size:16px;
	line-height: 24px;
	color:#1A1628;	
}
.brand-pc{
	font-weight: 400;
	font-size:16px;
	line-height: 24px;
}
.brand-add-pc-link{
	font-weight: 600;
	font-style: normal;
	font-size:16px;
	line-height: 24px;
}