/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Open Sans,Roboto, "Helvetica Neue", sans-serif; }

body {
    background: #f2edf3;
}

.container-scroller {
    overflow: hidden;
}
.page-body-wrapper {
    min-height: calc(100vh - 70px);
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
    min-height: calc(100vh - 70px);
    background: #fff;
    font-family: ubuntu-regular,sans-serif;
    padding: 0;
    width: 260px;
    z-index: 11;
    transition: width .25s ease,background .25s ease;
    -webkit-transition: width .25s ease,background .25s ease;
    -moz-transition: width .25s ease,background .25s ease;
    -ms-transition: width .25s ease,background .25s ease;
    height: 100%;
}
.main-panel {
    transition: width .25s ease,margin .25s ease;
    width: calc(100% - 10px);
    min-height: calc(100vh - 10px);
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    background: #f2edf3;
    padding:1rem 1rem;
    width: 100%;
    flex-grow: 1;
}
.footer {
    background: #f2edf3;
    padding: 20px 1rem;
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    border-top: 1px solid #ebedf2;
    font-size: calc(.875rem - .05rem);
    font-family: ubuntu-regular,sans-serif;
}
.sidebar .nav:not(.sub-menu) {
    padding-bottom: 60px;
}
@media (min-width: 992px){
	.sidebar-icon-only .sidebar, .sidebar-icon-only .sidebar {
	    width: 70px;
	}
	.sidebar-icon-only .sidebar .nav, .sidebar-icon-only  .sidebar .nav] {
	    overflow: visible;
	    margin-left: 0;
	    margin-right: 0;
	}

	.sidebar-icon-only .sidebar .nav .nav-item, .sidebar-icon-only  .sidebar .nav .nav-item {
	    padding: 0 1rem;
	    position: relative;
	}
 
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: rgba(196, 196, 196, 0.3);
}
.nav-pills .nav-link{
    color:#fff;
}
.nav-link-name{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    text-align: center;
    letter-spacing: -0.2px;

    /* Neutral/white */

    color: #FFFFFF;
}

.header-app-name {
        display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;

    position: static;
    width: 263px;
    height: 40px;
    left: 0px;
    top: calc(50% - 40px/2);

    /* Opacity/zsteal-60_0.10 */

    background: rgba(39, 166, 164, 0.1);

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.footer-copy-text{
     
    font-size: 12px;
   
    color: #87848D;
}

.footer-text {
    color:#1A1628;
}
.popover-header{
    background-color: #fff;
}
.fixed-side-nav{
    position: fixed;
    z-index: 100;
    height: 700px;
}
.main-panel {
    transition: width .25s ease,margin .25s ease;
    width: calc(100% - 10px);
    min-height: 700px;
    height: 700px;
    display: flex;
    overflow: auto;
    flex-direction: column;
}
/* common css */
.btn-rbp {
    color: #fff;
    background-color: #27A6A4;
    border-color: #27A6A4;
}
.text-rbp:hover{
    color: #27A6A4;
}
.text-rbp {
	color: #27A6A4;
}
.brand-pageHeading{
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 0.15px;
}
.pull-right{
  float:right;
}
.btn i{
    font-size:14px;
}
.header-support-text{
    color:#5B5864;
    font-size:14px;
}
.info-icon{
    color:#716E79;
    font-size:14px;
}

/* tabs */
.mat-tab-label-active {
	color: #27A6A4 !important;
	 
}
.mat-tab-label, .mat-tab-link{
	font-size:14px;
	font-weight: bold;
	line-height: 21px;
	font-style: normal;
	letter-spacing: -0.2px;
	opacity:1 !important;
	color : #716E79;
}
/*brand page */

.brand-lb{
	border-left:40px solid #D6EBFF;
}
.brand-title{
	font-weight: 700;
	font-size:20px;
	line-height: 28px;
}
.brand-description{
	font-size:16px;
	line-height: 24px;
	color:#1A1628;	
}
.brand-pc{
	font-weight: 400;
	font-size:16px;
	line-height: 24px;
}
.brand-add-pc-link{
	font-weight: 600;
	font-style: normal;
	font-size:16px;
	line-height: 24px;
}