/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.btn-rbp {
    color: #fff;
    background-color: #27A6A4;
    border-color: #27A6A4;
}
.text-rbp {
	color: #27A6A4;
}
.brand-sig{
	border-left:25px solid #D6EBFF;
}

.mat-tab-label-active {
	color: #27A6A4;
	 
}
.mat-tab-label, .mat-tab-link{
	font-size:14px;
	font-weight: 700;
}